.social-icon {
    display: grid;
    height: 48px;
    width: 48px;
    place-items: center;
    border: solid 2px #ffffff;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all 0.25s;
}

.social-icon:hover {
    background-color: #CF09A4;
    border: 2px solid #CF09A4;
}