

body {
    display: grid;
    height: 100vh;
    background-color: #76045D;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Montserrat', sans-serif;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

main {
    grid-area: main;
    display: grid;
    padding: 0px 100px;
    grid-template-areas: 
        "description product social-media";
    grid-template-columns: 380px 1fr 48px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #76045D;
}